<div class="createUrl">
  <div class="container">
    <form class="input-group mb-3 w-75" action="/" method="post">
      <input
        type="text"
        class="form-control py-3"
        placeholder="Enter Your URL"
        aria-label="Enter Your URL"
        aria-describedby="button-addon2"
        
      />
      <button class="btn btn-primary px-5" id="button-addon2">
        Generate Url
      </button>
    </form>
  </div>
</div>
